html, body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    height: 100vh;
    background-color: #032A2F;
    color: #032A2F;
    letter-spacing: 1px;
}

/* Vertical and horizontal centering - parent container */

.center {
    height: 100vh;
    position: relative; 
}

/* Vertical and horizontal centering - child container */

.search {
    margin: 0; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}

.random {
    margin-bottom: 25px;
}

.random a:link {
    color: #D0D2C4;
}

.random a:visited {
    color: #D0D2C4;
    text-decoration: none;
}

.random a:hover {
    color: #54B0BD;
    text-decoration: none;
}

.random a:active {
    text-decoration: none;
}

.btn {
    background-color: #076F8A;
    border-color: #076F8A;
    color: #fff;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: #54B0BD;
    border-color: #54B0BD;
}

.btn .active {
    background-color: #076F8A;
    border-color: #076F8A;
}

.searchResults {
    padding-top: 125px;
}

.results {
    margin: 5%;

}

ul {
    list-style-type:none;
    margin: 0;    
}

ul li {
    background: #D0D2C4;
    margin: 2%;
    padding: 3%;
}

ul li a:link {
    text-decoration: none;
    color: #032A2F;
}

ul li a:visited {
    color: #032A2F;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: none;
    color: #076F8A;
   }